{% extends 'base.html.twig' %}
{% form_theme form with['bootstrap_3_layout.html.twig','ad/custom_form_errors.html.twig'] %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% include 'includes/header.html.twig' %}
    {% endif %}
    <div class="card my-2 mx-auto">
        <div class="card-header">
            New Ad
        </div>
        <div class="card-body">
            {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            <button type="submit" class="btn
                {% if app.user %}
                   btn-primary"> Save
                {% else %}
                    btn-success"> Create
                {% endif %}
            </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock body %}
