<div class="card my-2 mx-auto">
    <div class="card-body">
        <p class="card-text">
            <a href="{{ path('show_ad',{'id': ad.id }) }}">
                {{ ad.title }}
            </a>
        </p>
        <p class="card-text">{{ ad.description }}</p>
        <p class="card-text">{{ ad.authorName }}</p>
        <p class="card-text">{{ ad.createdAt|date }}</p>
        {% if app.user == ad.user %}
            <span class="btn btn-info mr-auto">
                <a href="{{ path('edit_ad', {'id': ad.id}) }}" class="text-white">Edit</a>
            </span>
            <span class="btn btn-danger ml-auto">
                <a href="{{ path('delete_ad', {'id': ad.id}) }}" class="text-white">Delete</a>
            </span>
        {% endif %}
    </div>
</div>
