{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% include 'includes/header.html.twig' %}
    {% endif %}
    <div class="card my-2 mx-auto">
        <div class="card-header">
            {{ ad.title }}
        </div>
        <div class="card-body">
            <p class="card-text">{{ ad.description }}</p>
            <p class="card-text">{{ ad.authorName }}</p>
            <p class="card-text">{{ ad.createdAt|date }}</p>

            {% if app.user == ad.user %}
                <span class="btn btn-info mr-auto">
                <a href="{{ path('edit_ad', {'id': ad.id}) }}" class="text-white">Edit</a>
            </span>
                <span class="btn btn-danger ml-auto">
                <a href="{{ path('delete_ad', {'id': ad.id}) }}" class="text-white">Delete</a>
            </span>
            {% endif %}
        </div>
    </div>
{% endblock body %}
