{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% include 'includes/header.html.twig' %}
        <a href="{{ path('create_ad') }}" class="btn btn-success my-2">Create Ad</a>

    {% else %}
        {{ render(controller('AppBundle:Security:authorization')) }}
    {% endif %}

    {% if pagination %}
        <h4 class="my-3 mx-auto">Ads: </h4>
        <div class="mx-auto">
            {% for ad in pagination %}
                {% include 'ad/preview.html.twig' with {'ad': ad} %}
            {% else %}
                <h6 class="w-50 my-3">No ads.</h6>
            {% endfor %}
        </div>
        <div class="w-50 my-3 mx-auto">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
{% endblock body %}
