{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="{{ path('show_ads') }}">Ads Website</a>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <p class="nav-link m-auto">{{ app.user.username }}</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-auto" href="{{ path('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}
