{% form_theme form 'bootstrap_3_layout.html.twig' %}

<div class="mx-auto card m-2 p-2 col-lg-4 col-md-8 col-sm-10 col-xs-12">
    {{ form_start(form, {'action': path('authorize_user'),
        'attr': {'novalidate': 'novalidate'} }) }}
    <h2 class="form-signin-heading">Login</h2>
    {% if error %}
        <div class="alert alert-danger my-2 p-1">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    {% for msg in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {{ msg }}
        </div>
    {% endfor %}
    {{ form_row(form._username) }}
    {{ form_row(form._password) }}
    <button type="submit" class="btn btn-primary">
        Login
    </button>
    {{ form_end(form) }}
</div>
